*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.category__text{
    color: rgb(9, 9, 9)!important;
    text-decoration: none !important;
}
.category__text:hover,a:focus {
    color: white !important;
    text-decoration: underline !important;
}

a{
    color: black !important;
    text-decoration: none !important;
}
a:hover,a:focus {
    color: rgb(254, 80, 0) !important;
    text-decoration: underline !important;
}

/* .header{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */
.header{
    width: 100%;
    background-color: #fff;
    font-family: 'Mulish', sans-serif
}

/* thông báo */
.notice{
    background-color: #fe5000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 60px;
    padding: 0 30px;
    color: #fff;
    font-size: 16px;
}
.notice-itemlist {
    display: block;
    width: auto;
    padding: 5px 0;
    position: relative
}
.notice-item--separate{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -30px;
    border: 1px solid;
    opacity: .2
}

/*topbar*/
.header__topbar{
    box-shadow: 0 1px rgb(0 , 0, 0, 0.1);
    font-size: 14px;
    color: #333f48;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
}
.topbar-left{
    margin: 0;
    opacity: 0.900000011920920;
}
.topbar-right{
    margin: 0 ;
    padding: 0;
}
.topbar-list{
    list-style: none;
}
.topbar-item{
    display: inline-block;
    margin: 8px;
}

/*header mid */
.header__mid{
    font-size: 15px;
    font-weight: 700px;
}
.header__mid-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px;
    padding: 20px 10px;
}
.header__mid-logo{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.img-evotools{
    width: 135px;
    height: 32px;
}
.header__mid-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    background-color: white;
}
.mid-splitem{
    display: inline-block;
    flex-wrap: wrap;
    padding: 5px 10px;
    border: 1px solid #fe5000;
    border-radius: 4px;
    color: #fe5000;
}
.category__text{
    color: #fe5000;
    font-size: 17px;
}
.mid-item{
    display: inline-block;
    padding: 5px 10px;
    font-weight: 500;
}
.item-text{
    font-size: 17px;
}
.mid-item:hover a.item-text{
    text-decoration: none;
}
.header__mid-search{
    display: flex;
    width: 400px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.header__search-input{
    width: 100%;
    height: 100%;
    padding: 0 30px 0 15px;
    border: none;
    outline: none;
    font-size: 12px;
}
.search-logo{
    font-size: 1.5rem;
    margin: auto;
}
.header__mid-fill{
    gap: 20px;
}
.icon-link{
    margin: 0 10px;
}
.item-icon{
    font-size: 2rem;
}

/*category*/
.category__container{
    width: 100%;
    position: absolute;
    top: 140px;
    width: 100%;
    left: 0;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    display: none;
    background-color: white;
    z-index: 3;
}
.category{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    z-index: 3;
} 
.category__list{
    margin: 15px 50px;
    padding: 10px 20px;
    display: block;
    line-height: 30px;
    background-color: white;
    z-index: 3;
}
.category__list--level1{
    color: #222 !important;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 0;
    background-color: white;
    z-index: 3;
}
.category__list--level1 ul li a:hover{
    text-decoration: none !important;
}
.header__mid .header__mid-container .header__mid-menu .mid-list .mid-splitem .category__container .category .category__list ul li {
    list-style: none;
}

/*products */
.product-list{
    width: 100%;
    margin: 20px 50px 0 50px;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    z-index: 3;
}
.product-item{
    display: flex;
    padding: 20px;
    border: 1px solid #e6e6e6;
}
.product-inf{
    line-height: 30px;
}
.product-price{
    display: flex;
    gap: 15px;
}
.product-new-price{
    color: rgb(188, 9, 9);
}
.product-old-price{
    text-decoration: line-through;
    color: rgb(188, 9, 9);
}
.product-img{
    margin-left: 10px;
}
.product_img-size{
    width: 150px;
    height: 150px;
}
.brand__logo{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    margin-top: 20px;   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 7px
}
.mid-splitem:hover{
    background-color: #fe5000 !important;
}
.mid-splitem a:hover{
    text-decoration: none;
}
.mid-splitem:hover .category__container{
    display: block;
}
.mid-splitem:hover a.category__text{
    color: #fff;
}
/*responsive*/
@media (max-width: 425px){
    .header{
        width: 100% !important;
    }
    .notice{
        padding: 0 15px;
        font-size: 15px;
    }
    .notice-itemlist {
        padding:5px;
        flex-basis: 50%;
    }
    .topbar{
        margin: 20px;
        gap: 7px;
    }
    .topbar-left{
        display: block;
        padding: 50px auto;
    }
    .topbar-right{
        display: block;
        padding: 5px auto;
    }
    .header__mid-logo{
        display: block;
        margin: 5px;
    }
    .header__mid-menu{
        display: block;
        margin: 5px;
    }
    .header__mid-search{
        margin: 5px;
    }   
    .header__mid-fill{
        display: block;
        margin: 5px;
    }
}
@media (min-width: 425px) and (max-width: 768px){
    .header{
        width: 100% !important;
    }
    .notice{
        padding: 0 15px;
        font-size: 15px;
    }
    .topbar{
        margin: 20px;
        gap: 7px;
    }
    .topbar-left{
        display: block;
        margin: 10px;
        padding: 10px auto;
    }
    .topbar-right{
        display: block;
        padding: 10px auto;
    }
    .header__mid-logo{
        display: block;
        margin: 10px;
    }
    .header__mid-menu{
        display: block;
        margin: 10px;
    }
    .header__mid-search{
        margin: 10px;
    }   
    .header__mid-fill{
        display: block;
        margin: 10px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .header{
        width: 100% !important;
    }
    .notice{
        padding: 0 15px;
        font-size: 15px;
    }
    .topbar{
        margin: 5px;
        gap: 7px;
    }
    .topbar-left{
        margin: 5px;
        padding: 10px auto;
    }
    .topbar-right{
        margin: 5px;
        padding: 10px auto;
    }
    .header__mid-logo{
        margin: 10px;
    }
    .header__mid-menu{
        margin: 10px;
    }
    .header__mid-search{
        margin: 10px;
    }   
    .header__mid-fill{
        margin: 10px;
    }
}
.slide{
    width: 100%;
    overflow: hidden; 
    display: flex;
}
.slide_img{
    width: 100%;
    flex: 1 0 100%;
    position: relative;
}
.slide_img{
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes slider {
    0%{
        right: 0;
    }
    15%{
        right: 100%;
    }
    55%{
        right: 100%;
    }
    70%{
        right: 0;
    }
} 
.slide_icon{
    display: flex;
    margin: 0 auto;
    transform: translateY(-150%);
    width: 40px;
    height: 10px;
    justify-content: space-between;
}
#vuong{
    width: 28px;
    height: 7px;
    background-color: #f95f18;
    border-radius: 3px;
    cursor: pointer;
}
#cham{
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: #6c757d;
    cursor: pointer;
}
.slide_icon{
    animation-name: slider_ic;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes slider_ic {
    0%{
        flex-direction: row;
    }
    15%{
        flex-direction: row-reverse;
    }
    55%{
        flex-direction: row-reverse;
    }
    70%{
        flex-direction: row;
    }
} 
.nd_1{
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-around;
}
.nd_1_1{
    width: 23%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 70px;
    color: #6c757d;
    font-size: 14px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}
.nd_1_1_img{
    width: 48px;
    height: 48px;
    margin-right: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nd_1_1_t2{
    font-weight: 400;
}
.nd_1_1_t1{
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}
.nd_1_1_t{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nd_2{
    width: 100%;
    background-color: #fafafa;
}
.nd_2_1{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nd_2_1 a {
    font-weight: 700;
    text-decoration: none;
    color: #6c757d;
    font-size: 32px;
    line-height: 1.5;
}
.nd_2_1 p {
    color: #6c757d;
    font-size: 14px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}
.nd_2_2{
    width: 100%;
    display: flex;
    background-image: url("../Asset/Img/feature_banner.webp");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #6c757d;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
}
.h_nd_2_2{
    transform: translateY(-60%);
    display: flex;
    gap: 25px;
    background-color: inherit;
}
.nd_2_2_1{
    z-index: 0;
    color: #6c757d;
    font-size: 15px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    height: 40px;
    width: 270px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}   
.nd_2_2_1::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    transform-origin: bottom;
    transform: skew(-30deg);
    z-index: -1;
}
.nd_2_2_1::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    transform-origin: bottom;
    transform: skew(30deg);
    z-index: -1;
}
#canh{
    background-color: #f95f18;
    transform: skew(-30deg);
    height: 30px;
    width:  30px;
    color: white;
    font-size: 24px;
    font-weight:600;
    text-align: center;
    cursor: pointer;
}
#canh1{
    background-color: #f95f18;
    transform: skew(30deg);
    height: 30px;
    width: 30px;
    color: white;
    font-size: 24px;
    font-weight:600;
    text-align: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    transition-property: all;
}  
a:hover{
    color: #fe793b;
    text-decoration-line:underline;
}
.item{
    flex: 1 0 270px;
    padding: 5px;
    height: 390px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    background-color: white;
}
.it_img{
    margin: 3px auto;
    width: 90%;
    height: 66%;
    transition: all 1s;
    z-index: 0;
}
.it_img:hover{
    transform: scale(1.1);
}
.it_tag{
    color: #6c757d;
    font-size: 14px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    z-index: 1;
}
.it_name{
    color: #303030;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    font-weight: 700;
    z-index: 1;
}
.item .cost{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    z-index: 1;
    
}
.it_cost{
    display: inline-block;
    color: #d12727;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index: 1;

}
.it_cost_sale{
    font-size: 14px;
    color: #6c757d;
    text-decoration: line-through;
    z-index: 1;
}
.fa-bag-shopping:hover{
    color: #fe793b;
}
.nd_2_2_item{
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: flex;
    gap:25px;
    overflow: hidden;
    justify-content: flex-start;
}
.nd3{
    z-index: 1;
    width: 100%;
    
}
.nd3_1{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.nd3_1 h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

.nd3_1_tag{
    color: #6c757d;
    margin: 0 25px 0 0;
    height: 30px;
    text-align: center;
    padding: 7px 3px 0px 7px;
    display: inline-block;
    position: relative;
}
.nd3_1_tag::after{
    position: absolute;
    content: '';
    width: 120%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    transform-origin: bottom;
    transform: skew(30deg);
    z-index: -1;
}
.nd3_1_tag:hover{
    background-color: #f95f18;
    color: #fafafa;
    font-style: normal;
    text-decoration: none;
}
#nd3_tag_1{
    background-color: #f95f18;
    color: #fafafa;
}
.nd3_2{
    width: 100%;
    border-top: #e1e3e6 1px solid;
}
.nd_3_2_item{
    padding: 15px 0 15px 0;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f9;
}
.nd3_3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 15px 15px 15px ;
    background-color: #f2f2f9;
}
.nd3_3 img{
    width: 48%;
    cursor: pointer;
}
.nd3 img:hover{
    opacity: 0.8;
}
.nd4{
    width: 100%;
    padding: 10px 20px 10px 20px;
}
.nd4 img{
    width: 100%;
}
.h_nd4_1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: #eceded 0.5px solid;
}
.h_nd4_1 div{
    color: gray;
    display: flex;
    gap: 20px;
}
.h_nd4_1 div p:hover{
    color:#f95f18;
}
.private-news {
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
}

/* .category {
    background-color: aquamarine;
} */

.tab {
    padding: 5px; 
}


.img img {
    width: 400px;
    height: 270px;
}

.tab-content {
    padding: 5px;
}

.tab-content a {
    display: inline-block;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.tab-content p {
    font-size: 15px;
}

.tab-content span {
    font-size: 13px;
    color: black;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 410px;
    color: white;
}
.container_footer {
    height: 100%;
    background-color: black;
    padding: 40px 200px;
}
.footer_logo {
    border-right: 2px solid #444;
}
.img_logo{
    width: 200px;
     height: 57px;
     border-radius: 5px
}

.slogan_footer{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}
.social{
    display: flex;
} 
.social p{
    color: white;
    margin-left: 15px;
    
}
.social p:hover{
    color: red;
}
.item_link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}
.footer__tel{
    display: block;
    color: #fff;
     padding: 3px 0;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

.footer__tel:hover{
    color: red;
}
.copyright{
    background-color: black;
    padding: 15px 0;
    font-size: 14px;
    color: #999;
    padding-top: 30px;
}
.back_to_top{
    width: 50px;
    height: 50px;
    background: tomato;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 10px;
}
.copy{
    font-size: 14px;
    color: #999;
}
.copy:hover{
    color: red;
}